+++
title = "JobTech Dev"
linkTitle = "JobTech dev"

+++

{{< blocks/cover title="Välkommen till JobTech Dev!" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Till öppnadata <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/JobtechSwe/">
		Till källkoden <i class="fab fa-github ml-2 "></i>
	</a>

	<p class="lead mt-5"> <a href="#"></a></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<div class="col-12 ">
	<h2 class="text-center">Förbättrad matchning genom fri tillgång till öppna data och teknik</h2>
	<br>
	<h4 align="center">av Arbetsförmedlingen</h4>
</div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-book" title="Kom igång för utvecklare" %}}
Läs [API documentation](/docs)

{{% /blocks/feature %}}


{{% blocks/feature icon="fas far fa-comments" title="Ask a question, make a comment"  %}}
Everyone can follow the open discussions on the [chat](https://jobtechdevelopment.slack.com/join/shared_invite/enQtODM1OTk3OTk5MDYzLTMzZjc1OTY3Njk5MjJkZjZhODdmM2M3ZTk3NTAxYjE1MDU5YjE0MWYwM2U2MmYzYzY0OGQ5YWRiZTAzZDU1YTk) . New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-users-cog" title="How to use the APIs"  %}}
What is possible to achive
{{% /blocks/feature %}}


{{< /blocks/section >}}
