h1 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3.25rem;
    margin: 0.85rem 0 1.7rem 0;
    text-rendering: optimizeLegibility;
    color: #20272b;
}
h4 {
    color: #20272b !important;
}
@keyframes inHover {
    45% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1.05);
    }
}
@keyframes outHover {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.showcase-item {
    border: 2px solid #733ACA;
    border-top: 4px solid #733ACA;
    border-bottom: 8px solid #733ACA;
    border-radius: 2px;
    animation:outHover 0.5s forwards;
    color: #20272b;
    transition: transform .4s;
    height: 100% !important;
    margin-bottom: 120px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);
}
.showcase-item:hover {
    text-decoration: none;
    --MAIN-LINK-HOVER-color: none;
    --MAIN-ANCHOR-color: none;
    --MAIN-LINK-color: none;
    color:#20272b;
    border: 2px solid #733ACA;
    border-top: 4px solid #733ACA;
    border-bottom: 8px solid #733ACA;
    animation:inHover 1s forwards;

}
.showcase-item > .description {
    padding: 16px;

}
.showcase-item > .title {
    text-align: center;
    border-radius: 0 0 15px 15px;
    padding-top: 10px;
    height: 70px;
    font-size: 23px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    color: #fff;
    background-color: #0A0A0A;
    border-bottom: 6px solid #8543e9;
}
.showcase-item > .title > h4 {
    color: #733ACA;
}
.showcase-item {
    position: relative; /* For positioning the pseudo-element */

}

.showcase-item::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Create the box shadow at expanded size. */
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.3);

    /* Hidden by default. */
    opacity: 0;
    transition: opacity 750ms;
}

.showcase-item:hover::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
}





.separator {
    background-color: #733ACA;
    width: 30px;
    height: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
}


