@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import  url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

.skip-to-content-link {
  background: #fff;
    color:#000;
  height: 30px;
    width: 100%;
  text-align: center;
    z-index: 100;
  padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.4s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
    text-decoration: underline;
}


@if $td-enable-google-fonts {
    @import url($web-font-path);
}
.td-box.linkbox {
    padding:1rem;
    padding-top: 5rem;
}
.navbar-collapse {
    flex-grow: unset;
}
.navbar-toggler {
    position: fixed;
    z-index: 1;
    right:5px;
    top: 15px;
}
.link-underline {
    text-decoration: underline;
}

@include media-breakpoint-down(md) {
    .navbar-nav-s-s {
        text-align: left;
        background-color: rgba(0, 0, 0, 0.7);
        width: 200px;
        float: right;
        top: 15px;

        right: 5px;
        padding-top: 60px;
        color: #fff;
        padding-left: 15px;
    }
    .td-navbar-cover .nav-link {
        text-shadow: 1px 1px 2px #333;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #d9d9d9;
    }
    .navbar-dark .navbar-nav .nav-link.active{
        color: #fff;
    }
    .navbar-dark .navbar-nav .nav-link:hover{
        color: #fff;
    }
    #main_navbar{
        position: fixed;
        top:11px;
        right: 5px;
    }

}
@include media-breakpoint-down(sm) {
    .navbar-nav-s-s {
        text-align: left;
        background-color: rgba(0, 0, 0, 0.7);
        width: 200px;
        float: right;
        top: 15px;

        right: 5px;
        padding-top: 60px;
        color: #fff;
        padding-left: 15px;
    }
    .td-navbar-cover .nav-link {
        text-shadow: 1px 1px 2px #333;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #d9d9d9;
    }
    .navbar-dark .navbar-nav .nav-link.active{
        color: #fff;
    }
    #main_navbar{
        position: fixed;
        top:11px;
        right: 5px;
    }
    #td-cover-block-0{
        background-size: auto;
    }

}
footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;

    }


    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .flex_fix_for_IE {     flex: 1 0 100% !important;  }
    }

}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}

@import "styles_project";

.gcontent { /*background color github/gitlab documentation*/
    background-color: #f7f7f7;
    padding: 50px ;
    border: solid 1px #000;


}
.projectLink > a {
    text-decoration: none !important;
    color: #d3d3d3 !important;
}
.projectLink {
    display: inline-block;
    position: relative;
    top: -50px;
    left: -50px;
    background: #000;
    line-height: 50px;
    padding: 2px 25px;

}
.projectLink > a:hover {
    color: #fff !important;

/*partial feedback*/
}
.feedback--answer {
    display: inline-block;
}
.feedback--answer-no {
    margin-left: 1em;
}
.feedback--response {
    display: none;
    margin-top: 1em;
}
.feedback--response__visible {
    display: block;
}
/* ***********/
:root #header + #content > #left > #rlblock_left{
    display:none !important;
}


/*index.html*/
.col > .row {
    padding: 0;
}
.td-box .row {
    padding: 0;
}

.fa-chevron-down{

    -webkit-animation: bounce linear 1s;
    -moz-animation: bounce linear 1s;
    -o-animation: bounce linear 1s;
}
@keyframes bounce{
    0% {
        transform:  translate(0px,1px);
    }
    25% {
        transform:  translate(0px,-14px);
    }
    50% {
        transform:  translate(0px,0px);
    }
    75% {
        transform:  translate(0px,-10px);
    }
    100% {
        transform:  translate(0px,0px);
    }
}

@-moz-keyframes bounce{
    0% {
        -moz-transform:  translate(0px,1px);
    }
    15% {
        -moz-transform:  translate(0px,-14px);
    }
    30% {
        -moz-transform:  translate(0px,0px);
    }
    75% {
        -moz-transform:  translate(0px,-7px);
    }
    100% {
        -moz-transform:  translate(0px,0px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform:  translate(0px,1px);
    }
    15% {
        -webkit-transform:  translate(0px,-14px);
    }
    30% {
        -webkit-transform:  translate(0px,0px);
    }
    75% {
        -webkit-transform:  translate(0px,-7px);
    }
    100% {
        -webkit-transform:  translate(0px,0px);
    }
}

@-o-keyframes bounce {
    0% {
        -o-transform:  translate(0px,1px);
    }
    15% {
        -o-transform:  translate(0px,-14px);
    }
    30% {
        -o-transform:  translate(0px,0px)  ;
    }
    75% {
        -o-transform:  translate(0px,-13px)  ;
    }
    100% {
        -o-transform:  translate(00px,0px)  ;
    }
}

@-ms-keyframes bounce {
    0% {
        -ms-transform:  translate(0px,1px)  ;
    }
    15% {
        -ms-transform:  translate(0px,-14px)  ;
    }
    30% {
        -ms-transform:  translate(0px,0px)  ;
    }
    75% {
        -ms-transform:  translate(0px,-7px)  ;
    }
    100% {
        -ms-transform:  translate(0px,0px)  ;
    }
}
.info{
    margin-top: 100px;

}

/* Background first page */

.firstbg {
    background-image: url(../img/background_large.png)
}
@media only screen and (min-width: 1200px) {
    .firstbg {
        background-image: url(../img/background_small.png) ;
}
}

/* partial repos */

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */

}
.btn-dark {
    border-radius: 2px;
    background: #fff;
    border-width: 1px;
    border-color: #888;
    margin: 3px;
}
