<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
    <link href="/fonts/fonts.css" rel="stylesheet">
    <script>


        $(window).scroll(function(){
            $("#scrollArrow").css("opacity", 1 - $(window).scrollTop() / 400);
            $("#scrollArrow").css("bottom", 1 - $(window).scrollTop());


        });


    </script>
  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-default td-outer">
      <main id="innerMainContent"  class="td-main">
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
      </main>

    </div>

    {{ partialCached "scripts.html" . }}
  </body>
</html>