<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-default td-outer">
      <main class="td-main" id="innerMainContent">
        {{ block "main" . }}{{ end }}

      </main>

    </div>
    {{ partial "footer.html" . }}
    {{ partialCached "scripts.html" . }}
  </body>
</html>