<script src="https://widgets.jobtechdev.se/alljobads/script/AfPbWidget.js?"></script>

<style>
    #afWidgetContainer{
        max-width: 1000px;
        margin: auto;
    }
    .afSelected {
        color: #000;

    }
    .afTableCell h3 {
        color: #0e0e6e;
    }
    .afmodal-header  {
        border-color: #0A0A0A;
    }
    .afmodal-header > h2 {
        display: none !important;
    }
    #afmodalContent .afPagination a {
        cursor: pointer;
        color: #222222;
    }
    a.afApply {
        border: 3px solid #222222;
        padding: 5px 20px;
        display: inline-block;
        margin: .5em 0;
        float: right;
        box-shadow: 2px 2px 5px #ccc;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
        color: #000;
    }
    .afAdClose {
        position: absolute;
        right: 0px;
        top: 5px;
        cursor: pointer;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #222222;
        font-size: 0;
    }
    a.afApply:hover {
        box-shadow: none;
        border: 3px solid #222222;
    }

</style>



<div >

     <div
        id="afWidgetContainer"
        data-limit="5"
        data-showexpired="false"
        data-q="jobtech"
        data-places=""
        data-orgnumber="2021002114"
        data-modal ="true"
>
        <div style="padding: 10px;">
            {{if in .File.Lang "en"}}
            <div style="text-align: center;">There are</div>
            {{ else }}
            <div style="text-align: center;">Det finns</div>
            {{ end }}
            <div
                    id="afJobCount"
                    style="
                    text-align: center;
                    font-weight: 600;
                    border: 3px solid #000000;
                    width: 150px;
                    margin: 10px auto;
                    border-radius: 5px;
                    font-family: 'IBM Plex Sans', sans-serif;

                  "
            ></div>
            {{if in .File.Lang "en"}}
             <div style="text-align: center; font-size: 13px">vacancies at <strong>JobTech</strong>  </div>
            {{ else }}
            <div style="text-align: center; font-size: 13px">tjänster hos <strong>JobTech</strong>  </div>
            {{ end }}
     </div>
    </div>
</div>
<script>


</script>