{{ $links := .Site.Params.links }}


<section  class="row td-box  td-box--gradient td-box--height-auto linkbox col-lg-8 col-md-10 col-sm-12 mx-auto">
<div tabindex="0" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ba">
<h2 class="display-3">{{T "Learn_and_connect"}}</h2>
<p >{{T "using"}} {{ .Site.Title }}?
{{ with index $links "user"}}
{{ template "community-links-list"  . }}
{{ end }}
</div>
<div tabindex="0" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2 class="display-3">{{T "develop_and_contribute"}}</h2>
<p >{{T "text_develop"}}
{{ with index $links "developer"}}
{{ template "community-links-list"  . }}
{{ end }}
<p tabindex="0">{{T "how_to_contribute"}} <a class="link-underline" href="https://github.com/MagnumOpuses/project-meta/blob/master/CONTRIBUTING_TEMPLATE.md">{{T "guidelines"}}</a>.
</div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a class="link-underline" target="_blank" href="{{ .url }}" aria-label=""><em class="{{ .icon }}"></em> {{ .name }}</a> <!--{{ .desc }} -->
 </li>
  {{ end }}
</ul>
{{ end }}
