<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139048426-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-114390036-1');
	</script>

	<!-- META -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Empower people with freedom of choice through an open source infrastructure." />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="JobTech Developer " />
	<meta property="og:title" content="JobTech Developer" />
	<meta property="og:description" content="JobTech Developer" />
	<meta property="og:image" content="RAMA - One Page Parallax" />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON -->
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

	<!-- PAGE TITLE HERE -->
	<title>JobTech Developer</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="/thebeginning/js/html5shiv.min.js"></script>
	<script src="/thebeginning/js/respond.min.js"></script>
	<![endif]-->

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="/thebeginning/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="/thebeginning/css/style.css">
	<link rel="stylesheet" type="text/css" href="/thebeginning/css/templete.css">
	<link class="skin"  rel="stylesheet" type="text/css" href="/thebeginning/css/skin/skin-4.css">

	<!-- Revolution Slider Css -->
	<link rel="stylesheet" type="text/css" href="/thebeginning/plugins/revolution/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="/thebeginning/plugins/revolution/revolution/css/layers.css">
	<!-- Revolution Navigation Style -->
	<link rel="stylesheet" type="text/css" href="/thebeginning/plugins/revolution/revolution/css/navigation.css">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body id="bg">
    <div id="loading-area"></div>
    <div class="page-wraper">
        <!-- header -->
        <header class="site-header header-style-2">
            <div class="sticky-header main-bar-wraper navbar-expand-lg is-fixed">
                <div class="main-bar clearfix onepage">
                    <div class="navigation-bar">
                        <div class="container clearfix">
                            <!-- website logo -->
                            <div class="logo-header mostion"><a href="index.html"><img src="/thebeginning/images/jobtechdev_white.png" width="193" height="89" alt=""></a></div>
                            <!-- main nav -->
                            <div class="header-nav navbar-collapse collapse navbar myNavbar justify-content-end" >
                                <ul class="nav navbar-nav navbar-right navbar">
                                    <li class=""><a href="#home" class="nav-link active scroll">{{ i18n "nav-start" }}</a></li>
                                    <li class=""><a href="#services" class="nav-link scroll">{{ i18n "nav-apis" }}</a></li>
                                    <li class=""><a href="#portfolio"  class="nav-link scroll">{{ i18n "nav-open-source" }}</a></li>
                                    <li class=""><a href="#about-us" class="nav-link scroll">{{ i18n "nav-about-us" }}</a></li>
                                    <li class=""><a href="#community"  class="nav-link scroll">{{ i18n "nav-contact" }}</a></li>
                                    <li class=""><a href="/about/" class="nav-link">{{ i18n "nav-docs" }}</a></li>
                                    <li id="language-toggle"></li>
                                </ul>
                            </div>
                            <div id="mySidenav" class="sidenav navbar myNavbar bg-black">
                                <div class="w3-sidenav-area">
                                    <div class="logo-sidenav mostion">
                                        <a href="index.html"><img src="/thebeginning/images/jobtechdev_white.png" width="193" height="89" alt=""></a>
                                    </div>
                                    <a href="javascript:void(0)" class="closebtn bg-primary" >
                                        <i class="fa fa-close"></i>
                                    </a>
                                    <div class="clearfix"></div>
                                    <ul class="nav navbar-nav">
                                        <li class=""><a href="#home" class="nav-link active scroll">{{ i18n "nav-start" }}</a></li>
                                        <li class=""><a href="#services" class="nav-link scroll">{{ i18n "nav-apis" }}</a></li>
                                        <li class=""><a href="#portfolio" class="nav-link scroll">{{ i18n "nav-open-source" }}</a></li>
                                        <li class=""><a href="#about-us" class="nav-link scroll">{{ i18n "nav-about-us" }}</a></li>
                                        <li class=""><a href="#community" class="nav-link scroll">{{ i18n "nav-contact" }}</a></li>
                                        <li class=""><a href="/about/" class="nav-link">{{ i18n "nav-docs" }}</a></li>
                                        <li id="language-toggle"></li>
                                    </ul>
                                    <div class="left-footer-menu p-b10">
                                        <ul class="list-inline d-flex justify-content-center footer-social m-b0">
                                            <li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-github bg-primary"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="button-side-nav bg-primary openbtn d-lg-none"><i class="fa fa-bars"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header END -->
        <!-- Content -->
        <div class="page-content">
            <div class="main-slider style-two default-banner" id="home">
                <div class="tp-banner-container">
                    <div class="tp-banner" >
                        <div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container " data-alias="scroll-effect136" data-source="gallery" style="background-color:#111111;padding:0px;">
                            <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
                            <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
                                <ul>	<!-- SLIDE  -->
                                    <li data-index="rs-3042" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb=""  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="/thebeginning/images/main-slider/jobtechdev/slide4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!--&ndash; LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-3042-layer-11"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"

                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"

                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);cursor:default;"> </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption BigBold-Title   tp-resizeme "
                                             id="slide-3042-layer-1"
                                             data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','160']"
                                             data-fontsize="['110','100','70','60']"
                                             data-lineheight="['100','90','60','60']"
                                             data-width="['none','none','none','400']"
                                             data-height="none"
                                             data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                             data-type="text"
                                             data-basealign="slide"
                                             data-responsive_offset="off"

                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[10,10,10,10]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[10,10,10,10]"
                                             data-paddingleft="[0,0,0,0]"

                                             style="z-index: 6; white-space: nowrap;text-transform:left;">{{ i18n "header-title" }}</div>

                                        <!--LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-SubTitle  "
                                             id="slide-3042-layer-4"
                                             data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','58']"
                                             data-fontsize="['15','15','15','13']"
                                             data-lineheight="['24','24','24','20']"
                                             data-width="['410','410','410','280']"
                                             data-height="['60','100','100','100']"
                                             data-whitespace="normal"

                                             data-type="text"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"

                                             style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;text-transform:left;font-family: 'Open Sans'">{{ i18n "header-subtitle" }}</div>

                                        <!--LAYER NR. 4 -->

                                        <div class="tp-caption"
                                             id="slide-3042-layer-7"
                                             data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
                                             data-width="none"
                                             data-height="none"
                                             data-whitespace="nowrap"

                                             data-type="button"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[15,15,15,15]"
                                             data-paddingright="[50,50,50,50]"
                                             data-paddingbottom="[15,15,15,15]"
                                             data-paddingleft="[50,50,50,50]"

                                             style="z-index: 8;margin: -10px 0px;"><a id="startbutton" href="/api/" class="site-button outline white m-r15">{{ i18n "header-button" }}</a></div>
                                </ul>
                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider END -->
            <!-- About Us -->
            <div class="section-full text-white content-inner bg-dark-black w3-stats-2 skew-section bottom-left" id="services">
                <div class="container">
                    <div class="section-head text-center text-white" >
                        <h2 class="h2 text-uppercase">{{ i18n "services-title" }}</h2>
                        <div  class="w3-separator  bg-primary"></div>
                        <p id="api">{{ i18n "services-body" }}</p>
                        <div >
                            <a id="buttonapi" href="/api/" class="site-button outline white m-r15">{{ i18n "services-button" }}</a>
                        </div>
                    </div>
                    <div id="apicards" class="row">
                        <div class="col-lg-4 col-sm-6 m-b30">
                            <div class="icon-bx-wraper icon-size center p-a30 draw wow fadeInUp" data-wow-duration="1.80s" data-wow-delay="0.80s">
                                <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fas fa-robot"></i></span> </div>
                                <div class="icon-content">
                                    <div class="w3-separator  bg-primary"></div>
                                    <h3 class="w3-tilte">{{ i18n "apicards-ontology-title" }}</h3>

                                    <p>{{ i18n "apicards-ontology-body" }}</p>
                                    <div class="links">
                                        <a href="/api/terms/ontology/" class="site-button outline white m-r15">{{ i18n "apicards-ontology-button" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b30">
                            <div class="icon-bx-wraper icon-size center p-a30 draw wow fadeInUp" data-wow-duration="1.80s" data-wow-delay="0.80s">
                                <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fas fa-robot"></i></span> </div>
                                <div class="icon-content">
                                    <div class="w3-separator  bg-primary"></div>
                                    <h3 class="w3-tilte">{{ i18n "apicards-postings-title" }}</h3>
                                    <p>{{ i18n "apicards-postings-body" }}</p>
                                    <div class="links">
                                        <a href="/api/jobs/platsbanken/" class="site-button outline white m-r15">{{ i18n "apicards-postings-button" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b30">
                            <div class="icon-bx-wraper icon-size center p-a30 draw wow fadeInUp" data-wow-duration="1.80s" data-wow-delay="0.80s">
                                <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fas fa-robot"></i></span> </div>
                                <div class="icon-content">
                                    <div class="w3-separator  bg-primary"></div>
                                    <h3 class="w3-tilte">{{ i18n "apicards-historicalads-title" }}</h3>
                                    <p>{{ i18n "apicards-historicalads-body" }}</p>
                                    <div class="links">
                                        <a href="/api/jobs/historical/" class="site-button outline white m-r15">{{ i18n "apicards-historicalads-button" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-full text-white content-inner bg-black w3-stats-2 bottom-left">
                <div class="container" id="status">
                    <div class="section-head text-black text-center" >
                        <h2 class="h2 text-uppercase">{{ i18n "status-title" }}</h2>
                        <div class="w3-separator bg-primary"></div>
                        <p id="statustext">{{ i18n "status-body" }}</p>
                    </div>
                    <div id="apiStatus" class="row p-t30">
                        <div id="apiStatusLoding" class="col-lg-2 col-sm-12 mx-auto text-center">
                            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-full text-white content-inner bg-dark-black w3-stats-2 skew-section bottom-left" id="portfolio">
            <div class="container">
                <div class="section-head text-black text-center" >
                    <h2 class="h2 text-uppercase">{{ i18n "portfolio-title" }}</h2>
                    <div class="w3-separator  bg-primary"></div>
                    <p id="opentext">{{ i18n "portfolio-body" }}</p>
                    <a id="buttonproj" href="/open_source/" class="mx-auto site-button outline white m-r15">{{ i18n "portfolio-button" }}</a>
                </div>
                <div id="projcards" class="row p-t30">
                    <div class="col-lg-4 col-sm-8 m-b30 mx-auto">
                        <div class="icon-bx-wraper icon-size center p-a30 draw wow fadeInUp bg-dark-black" data-wow-duration="1.80s" data-wow-delay="0.50s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fas fa-hand-holding-heart"></i></span> </div>
                            <div class="icon-content">
                                <div class="w3-separator  bg-primary"></div>
                                <h3 class="w3-tilte">{{ i18n "projcards-historicaldata-title" }}</h3>
                                <p>{{ i18n "projcards-historicaldata-body" }}</p>
                                <div  class="button-code">
                                    <a href="http://historik.azurewebsites.net/" class="site-button outline white m-r15">{{ i18n "try-it" }}</a>
                                    <a href="/open_source/showcases/#historical" class="site-button outline white m-r15">{{ i18n "read-more" }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-8 m-b30 mx-auto">
                        <div class="icon-bx-wraper icon-size center p-a30 draw wow fadeInUp bg-dark-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                            <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fas fa-hand-holding-heart"></i></span> </div>
                            <div class="icon-content">
                                <div class="w3-separator  bg-primary"></div>
                                <h3 class="w3-tilte">{{ i18n "projcards-jobscanner-title" }}</h3>
                                <p>{{ i18n "projcards-jobscanner-body" }}</p>
                                <div class="button-code">
                                    <a href="https://jobscanner.jobtechdev.se" class="site-button outline white m-r15">{{ i18n "try-it" }}</a>
                                    <a href="/open_source/showcases/#scanner" class="site-button outline white m-r15">{{ i18n "read-more" }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-8 m-b30 mx-auto" >
                        <div class="icon-bx-wraper icon-size center p-a30 draw wow fadeInUp bg-dark-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                            <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fas fa-hand-holding-heart"></i></span> </div>
                            <div class="icon-content">
                                <div class="w3-separator  bg-primary"></div>
                                <h3 class="w3-tilte">{{ i18n "projcards-ontologyexplorer-title" }}</h3>
                                <p>{{ i18n "projcards-ontologyexplorer-body" }}</p>
                                <div class="button-code">
                                    <a href="http://pilot.arbetsformedlingen.se/kompetensutforskaren/#!/" class="site-button outline white m-r15">{{ i18n "try-it" }}</a>
                                    <a href="/open_source/showcases/#scanner" class="site-button outline white m-r15">{{ i18n "read-more" }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-full content-inner-2 creative-work bg-img-fix overlay-black-dark bg-dark-black" >
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <!-- Stats -->
        <div class="section-full text-white content-inner bg-black w3-stats-2 skew-section bottom-left">
            <div class="container">
                <div class="section-head text-black text-center" >
                    <h2 id="rubrik" class="h2 text-uppercase">{{ i18n "metrics-title" }}</h2>
                    <div class="w3-separator bg-primary"></div>
                    <p id="text">{{ i18n "metrics-body" }}</p>
                </div>
                <div class="row p-t30">
                    <div class="col-lg-3 col-sm-6 mx-auto">
                        <div class="stats text-black text-center wow fadeInLeft" >
                            <span>{{ i18n "metrics-repos" }}</span>
                            <div class="counter font-26 font-weight-800 text-white m-b5">40</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mx-auto">
                        <div class="stats text-black text-center wow fadeInDown" >
                            <span>{{ i18n "metrics-requests" }}</span>
                            <div class="counter font-26 font-weight-800 text-white m-b5">37243</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mx-auto">
                        <div class="stats text-black text-center wow fadeInRight"  >
                            <span>{{ i18n "metrics-apis" }}</span>
                            <div class="counter font-26 font-weight-800 text-white m-b5">7</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Se
        <!-- Stats END -->
        <div class="section-full content-inner-2 creative-work bg-img-fix overlay-black-dark bg-dark-black" style="background-image:url(/thebeginning/images/background/cargo/bg.jpg)" id="about-us">
            <div class="container">
                <div class="section-head text-center text-white" >
                    <h2 class="h2 text-uppercase">{{ i18n "about-us-title" }}</h2>
                    <div class="w3-separator  bg-primary"></div>
                    <p id="dev">{{ i18n "about-us-body" }}</p>
                    <div>
                        <a href="/about/" class="site-button outline white m-r15">{{ i18n "read-more" }}</a>
                    </div>
                </div>
            </div>
            <div class="section-full bg-dark-black content-inner skew-section bottom-left z-index2 text-white">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1.80s" data-wow-delay="0.50s">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 text-center m-b30">
                                    <a href="/focus_areas/jobs/">
                                        <div class="icon-bx-wraper bx-style-1 p-lr10 p-tb20 draw wow fadeInUp bg-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                                            <div class="icon-md m-b15 m-b15">
                                                <span class="icon-cell"><i class="fa fa-briefcase"></i></span>
                                            </div>
                                            <div class="icon-propo">
                                                <div class="w3-separator  bg-primary"></div>
                                                <h3 class="m-b5">{{ i18n "focus-areas-cards-jobs-title" }}</h3>
                                                <p>{{ i18n "focus-areas-cards-jobs-body" }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-sm-6 text-center m-b30">
                                    <a href="/focus_areas/mydata/">
                                        <div class="icon-bx-wraper bx-style-1 p-lr10 p-tb20 draw wow fadeInUp bg-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                                            <div class="icon-md m-b15">
                                                <span class="icon-cell"><i class="fa fa-user-circle"></i></span>
                                            </div>
                                            <div class="icon-propo">
                                                <div class="w3-separator  bg-primary"></div>
                                                <h3 class="m-b5">{{ i18n "focus-areas-cards-mydata-title" }}</h3>
                                                <p>{{ i18n "focus-areas-cards-mydata-body" }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-sm-6 text-center m-b30">
                                    <a href="/focus_areas/search/">
                                        <div class="icon-bx-wraper bx-style-1 p-lr10 p-tb20 draw wow fadeInUp bg-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                                            <div class="icon-md m-b15">
                                                <span class="icon-cell"><i class="fa fa-search"></i></span>
                                            </div>
                                            <div class="icon-propo">
                                                <div class="w3-separator  bg-primary"></div>
                                                <h3 class="m-b5">{{ i18n "focus-areas-cards-search-title" }}</h3>
                                                <p>{{ i18n "focus-areas-cards-search-body" }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-sm-6 text-center m-b30">
                                    <a href="/focus_areas/common/">
                                        <div class="icon-bx-wraper bx-style-1 p-lr10 p-tb20 draw wow fadeInUp bg-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                                            <div class="icon-md m-b15">
                                                <span class="icon-cell"><i class="fa fa-comments"></i></span>
                                            </div>
                                            <div class="icon-propo">
                                                <div class="w3-separator  bg-primary"></div>
                                                <h3 class="m-b5">{{ i18n "focus-areas-cards-taxonomy-title" }}</h3>
                                                <p>{{ i18n "focus-areas-cards-taxonomy-body" }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInRight space" data-wow-duration="1.80s" data-wow-delay="0.50s">
                            <h2 id="prop" class="h2 ">{{ i18n "focus-areas-title" }}</h2>
                            <div class="w3-separator  bg-primary"></div>
                            <p id="text5">{{ i18n "focus-areas-body-1" }}</p>
                            <p id="text7">{{ i18n "focus-areas-body-2" }}</p>
                            <p id="text8">{{ i18n "focus-areas-body-3" }}</p>
                            <div class="m-b10">
                                <ul class="row list-check white clearfix">
                                    <li class="col-sm-4">{{ i18n "focus-areas-check-1" }}</li>
                                    <li class="col-sm-4 green clearfix">{{ i18n "focus-areas-check-2" }}</li>
                                    <li class="col-sm-4">{{ i18n "focus-areas-check-3" }}</li>
                                </ul>
                            </div>
                            <div class="text-left">
                                <a id="buttonprop" href="/focus_areas/" class="site-button outline white m-r15">{{ i18n "focus-areas-button" }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-full content-inner-2 creative-work bg-img-fix overlay-black-dark bg-dark-black" >
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="section-full bg-black content-inner skew-section bottom-left z-index2 text-white" id="budget">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 wow fadeInLeft"  data-wow-duration="1.80s" data-wow-delay="0.50s">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 text-center m-b30 m-t100">
                                    <a href="/thebeginning/images/budget/budget.png" target="_blank">
                                        <div class="icon-bx-wraper left bx-style-1 p-lr10 p-tb20  wow fadeInUp bg-black  id=budget" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                                            <img  src="/thebeginning/images/budget/budget.png" id="img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInRight space m-t100" data-wow-duration="1.80s" data-wow-delay="0.50s">
                            <h2 id="budgetrubrik" class="h2 ">{{ i18n "finance-title" }}</h2>
                            <div class="w3-separator  bg-primary"></div>
                            <p id="budgettext">{{ i18n "finance-body" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Us END -->

            <!-- Creative Work  -->
            <div class="section-full content-inner-2 creative-work bg-img-fix overlay-black-dark bg-dark-black" >
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="section-full bg-dark-black skew-section content-inner bottom-left z-index2 text-white" id="community">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1.80s" data-wow-delay="0.50s">
                            <div class="com">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 text-center m-b30">
                                        <a href="/community/"></a>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 text-center m-b30">
                                        <a href="/community/">
                                            <div class="icon-bx-wraper bx-style-1 p-lr10 p-tb20 draw wow fadeInUp bg-black" data-wow-duration="1.80s" data-wow-delay="0.80s" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.8s; animation-name: fadeInUp;">
                                                <div class="icon-md m-b15">
                                                    <span class="icon-cell"><i class="fas fa-users"></i></span>
                                                </div>
                                                <div class="icon-propo">
                                                    <div class="w3-separator  bg-primary"></div>
                                                    <h3 class="m-b5">{{ i18n "community-cards-involve-title" }}</h3>
                                                    <p>{{ i18n "community-cards-involve-body" }}</p><br>
                                                    <p>
                                                        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#111;&#115;&#101;&#102;&#105;&#110;&#46;&#98;&#101;&#114;&#110;&#100;&#116;&#115;&#111;&#110;&#64;&#106;&#111;&#98;&#116;&#101;&#99;&#104;&#100;&#101;&#118;&#46;&#115;&#101">
                                                            {{ i18n "community-cards-involve-contact" }}
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInRight space" data-wow-duration="1.80s" data-wow-delay="0.50s">
                            <h2 id="comrubrik" class="h2 ">{{ i18n "community-title" }}</h2>
                            <div class="w3-separator  bg-primary"></div>
                            <p id="comtext1">{{ i18n "community-body-1" }}</p>
                            <p id="comtext2">{{ i18n "community-body-2" }}</p>
                            <p id="comtext3">{{ i18n "community-body-3" }}</p>
                            <div class="text-left">
                                <a id="buttoncom" href="/community/about/" class="site-button outline white m-r15">{{ i18n "community-button" }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-full content-inner-2 creative-work bg-img-fix overlay-black-dark bg-black"  id="news">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="section-full content-inner-2 creative-work bg-img-fix overlay-black-dark bg-dark-black" >
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="">
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4"></div>
                        <div class="col-lg-4 col-sm-4">
                            <span>
                                <p style="font-size: 10px; margin-top: -20px" class="text-left">Powered by</p>
                                <img id="af" src="/thebeginning/images/footer/Af_logotyp_gron-vit_rgb.svg">
                            </span>
                        </div>
                        <div class="col-lg-4 col-sm-4"></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Footer END-->

    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>

    <!-- JavaScript  files ========================================= -->
    <script src="/thebeginning/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="/thebeginning/js/wow.js"></script><!-- WOW.MIN JS -->
    <script src="/thebeginning/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/thebeginning/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/thebeginning/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
    <script src="/thebeginning/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
    <script src="/thebeginning/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="/thebeginning/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="/thebeginning/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="/thebeginning/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
    <script src="/thebeginning/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
    <script src="/thebeginning/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
    <script src="/thebeginning/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
    <script src="/thebeginning/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="/thebeginning/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
    <script src="/thebeginning/js/dz.ajax.js"></script><!-- CONTACT JS  -->

    <!-- revolution JS FILES -->
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/thebeginning/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript"  src="/thebeginning/js/rev.slider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            'use strict';

            $('#language-toggle').each(function(index) {

                if ({{.Site.Language.Lang}} === "en") {
                    $(this).append('<a href="/sv" ><img class="lang" src="/thebeginning/images/sv.png"></a>');
                } else {
                    $(this).append('<a href="/" ><img class="lang" src="/thebeginning/images/en.png"></a>');
                }
            });

            dz_rev_slider_3();
        });	/*ready*/
    </script>
    <script src="/thebeginning/js/uptimerobot.js"></script>
</body>
</html>
