<!-- Using bootstrap for grid behavior (compatible with IE11)-->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/apis.css">
<style>
    body {
        background-color: #fff;
        --MAIN-TITLES-TEXT-color: #000;
    }
</style>

<div class="container-fluid">
    <div class="row">


        {{ range where .Site.Pages "Section" "devguide"}}

        {{if eq .Parent.Title "Apis"}}






        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" style="padding:16px">

            <div class="showcase-item">
                <h4>{{ .Title}}</h4>
                <div class="w3-separator  separator"></div>
                <p>{{ .Description }}</p>
                <footer>
                    <a href="{{.RelPermalink}}" class="showcasebtn align-self-end">Read more</a>

                    {{ if isset .Params "consoleurl"  }}
                    <a href="{{ .Params.consoleurl}}" class="showcasebtn align-self-end">Console</a>

                    {{end}}


                </footer>

             </div>



        </div>




        {{ end }}{{ end }}
    </div>
</div>

