{{ $links := .Site.Params.links }}


<section  class="td-content ba">
    <div tabindex="0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <h5 class="display-5">{{T "Learn_and_connect"}}</h5>
        <p >{{T "using"}}
            {{ with index $links "user"}}
            {{ template "community-links-list"  . }}
            {{ end }}
    </div>
    <div tabindex="0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5 class="display-5">{{T "develop_and_contribute"}}</h5>
        <p >{{T "text_develop"}}
            {{ with index $links "developer"}}
            {{ template "community-links-list"  . }}
            {{ end }}
        <p tabindex="0">{{T "how_to_contribute"}} <a class="link-underline" href="https://github.com/MagnumOpuses/project-meta/blob/master/CONTRIBUTING_TEMPLATE.md">{{T "guidelines"}}</a>.
    </div>
</section>

{{ define "community-links-list" }}
<ul>
    {{ range . }}
    <li title="{{ .name }}">
        <a class="link-underline" target="_blank" href="{{ .url }}" aria-label=""><em class="{{ .icon }}"></em> {{ .name }}</a> <!--{{ .desc }} -->
    </li>
    {{ end }}
</ul>
{{ end }}