<style>
    .main {
        width: 75%;

        background-color: #efefef;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        border: 2px solid black;
        border-radius: 8px;
    }
    label {
    font-family: abril fatface;
    margin-bottom: 0px;
    
    }

    button {
        margin-top: 20px;
        border-radius: 3px;
    }
    select {
        margin-bottom: 20px;
        border-radius: 4px;
        text-align: left;
    }

    @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    select {
        width: 400px;
    }
}

</style>

<div id="form" class="main">
    <form action="/api/form" id="idForm">
   
        <fieldset>          
                <input type="checkbox" id="26 mars kl 10:00 - 10:30 " name="26 mars kl 10:00 - 10:30" >
                <label for="21032610">26 mars kl 10:00 - 10:30 On - boarding</label><br>                
                
                <input type="checkbox" id="2103261030" name="2103261030" >
                <label for="2103261030">26 mars kl 10:30 – 11:30 forum för Q&A</label><br><br>
                
                <input type="checkbox" id="21042310" name="21042310" >
                <label for="21042310">23 april kl 10:00 - 10:30 On - boarding</label><br>                
                
                <input type="checkbox" id="2104231030" name="2104231030" >
                <label for="2104231030">23 april kl 10:30 – 11:30 forum för Q&A</label><br><br>

                <input type="checkbox" id="2100528610" name="21032610" >
                <label for="Enrich">28 maj kl 10:00 - 10:30 On - boarding</label><br>                
                
                <input type="checkbox" id="2105281030" name="Jobsearch" >
                <label for="Jobsearch">28 maj kl 10:30 – 11:30 forum för Q&A</label><br><br>

                <input type="checkbox" id="210061810" name="21032610" >
                <label for="Enrich">18 juni kl 10:00 - 10:30 On - boarding</label><br>                
                
                <input type="checkbox" id="2106181030" name="Jobsearch" >
                <label for="Jobsearch">18 juni kl 10:30 – 11:30 forum för Q&A</label><br><br>  
               
                              
        </fieldset>                        
                              
                <label for="namn">Namn:</label><br>       
                <input type="text" name="namn" id="namn" placeholder="" autofocus  required oninvalid="this.setCustomValidity('Ange namn')" oninput="setCustomValidity('')"><br>
                
                <label for="email">E-mail:</label><br>
                <input type="email" name="email" id="email" placeholder=""  required oninvalid="this.setCustomValidity('E-postadress')" oninput="setCustomValidity('')"><br>            
                <button type="submit" name="skicka" value="Submit">Skicka</button>
                <button type="reset" >Rensa</button>
        
    </form>
</div>

<script>
    $("#idForm").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
        
            var form = $(this);
            var url = form.attr('action');
            
            $.ajax({
                   type: "POST",
                   url: url,
                   data: form.serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                      $("#form").html("<div> <p>Tack "+ data.namn+", för din anmälan <br>Du har anmält dig till "+data.date+" <br> En bekräftelse har skickats till "+data.email+"</p></div>")
                   }
                 });
        
            
        });
</script>


