<!-- Using bootstrap for grid behavior (compatible with IE11)-->

<link rel="stylesheet" type="text/css" href="/css/apis.css">
<link rel="stylesheet" type="text/css" href="/css/showcases.css">




<div class="container-fluid">
    <div class="row">
        {{ range where .Site.Pages "Section" "repo"}}
        {{if eq .Parent.Title "Github Repo"}}
        <div class="col-xl-4 col-lg-6 col-md-12" style="padding:16px">

            <div class="showcase-item">
                <div class="title col-12">
                    {{ .Params.Ptitle}}

                </div>
                <div class="description">
                    <p>{{ .Description }}</p>
                </div>
                <footer>




                        <a href="{{.Params.link}}" class="fab fa-github fa-2x   "> Github</a>


                </footer>

            </div>



        </div>



        {{ end }}{{ end }}
    </div>
</div>