


<!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">-->
<div class="card-deck">
    {{range $index,$val := $.Page.Params.showcases }}
    <div class="col-4 mb-4">
        <div class="card " style="height: 100%">
            <div class="card-body">
                <h5 class="card-title">{{ $val.name}}</h5>
                <p class="card-text">{{ $val.description}}</p>
                <p class="card-text">
                    {{range $index,$val := $val.links}}
                        <a href="{{ $val.url }}" class="showcasebtn align-self-end  " target="_blank">{{ $val.name }}</a>
                    {{ end }}</p>
            </div>
        </div>
    </div>
    {{end}}
</div>

























