<style>
    .hidden {
        display:none;
    }
    .webro {
        
    bottom: 20px;
    z-index: 10;
    right:20px;
    border: 2px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    padding: 10px;
    border-radius: 15px 0px 15px 15px;
    width: 170px;
    
    
    
    }
    
    .close-popup {
        z-index: 101;
        height: 25px;
        width: 25px;
        position: absolute;
        right: -8px;
        top:-3px;
        
            
    }
    .fa-times:hover {
        opacity: 1;
        

    }
    .fa-times {
        background-color: #fff;
        margin-left: 3px !important;
        top: -3px !important;
        opacity: 0.3;
        cursor: pointer;
    }
    a:link {
        text-decoration: none;

    }
    
    

</style>
<script src="/js/survey.js"></script>

<div id="webropolpopup" class="webro position-fixed hidden ">
    <div id="survey-close" class="close-popup"><i class="fas fa-times"></i></div>   
    <a href=" https://link.webropolsurveys.com/S/C1F32BE6730E1171">
    <p>{{.Get "text"}}  
    </a>
</div>


